<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!--  Use the settings below for Murchison Paisanos Sends 
    <add key="EmailListPath" value="c:\users\Matthew\Documents\docs\mattg\murchison\2009"/>
    <add key="EmailDocumentPath" value="c:\users\Matthew\Documents\docs\mattg\murchison\2009"/>
    <add key="EmailSendFromAcct" value="Murchison_Paisanos@the-fam.us"/>
    <add key="EmailCredentialsAcct" value="Murchison_Paisanos@the-fam.us"/>
    <add key="EmailCredentialsPassword" value="paisanos"/>
    <add key="EmailServerName" value="smtp.the-fam.us"/>
-->

	<!-- Use these settings for WSLL members -->
    <add key="EmailListPath" value="c:\users\Matthew\Documents\docs\mattg\wsll\2011"/>
    <add key="EmailDocumentPath" value="c:\users\Matthew\Documents\docs\mattg\wsll\2011"/>
    <add key="EmailSendFromAcct" value="wsll@the-fam.us"/>
    <add key="EmailCredentialsAcct" value="wsll@the-fam.us"/>
    <add key="EmailCredentialsPassword" value="wsllemail"/>
    <add key="EmailServerName" value="smtp.the-fam.us"/>
 
  </appSettings>
</configuration>