<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EmailAppTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--  Use the settings below for Murchison Paisanos Sends -->
    <add key="EmailListPath" value="c:\users\Matthew\Documents\docs\mattg\murchison\2009"/>
    <add key="EmailDocumentPath" value="c:\users\Matthew\Documents\docs\mattg\murchison\2009"/>
    <add key="EmailSendFromAcct" value="Murchison_Paisanos@the-fam.us"/>
    <add key="EmailCredentialsAcct" value="Murchison_Paisanos@the-fam.us"/>
    <add key="EmailCredentialsPassword" value="paisanos"/>
    <add key="EmailServerName" value="smtp.the-fam.us"/>
    <!-- Use these settings for WSLL members
    <add key="EmailListPath" value="c:\users\Matthew\Documents\docs\mattg\wsll\2010"/>
    <add key="EmailDocumentPath" value="c:\users\Matthew\Documents\docs\mattg\wsll\2010"/>
    <add key="EmailSendFromAcct" value="wsll@the-fam.us"/>
    <add key="EmailCredentialsAcct" value="wsll@the-fam.us"/>
    <add key="EmailCredentialsPassword" value="wsllemail"/>
    <add key="EmailServerName" value="smtp.the-fam.us"/>
    -->
  </appSettings>
  <applicationSettings>
    <EmailAppTester.Properties.Settings>
      <setting name="EmailServerName" serializeAs="String">
        <value>smtp.the-fam.us</value>
      </setting>
      <setting name="EmailCredentialsAcct" serializeAs="String">
        <value>wsll@the-fam.us</value>
      </setting>
      <setting name="EmailCredentialsPassword" serializeAs="String">
        <value>email credentials password for my-account@my-domain.net (in plain text)</value>
      </setting>
      <setting name="EmailSendFromAcct" serializeAs="String">
        <value>wsll@the-fam.us</value>
      </setting>
      <setting name="EmailListPath" serializeAs="String">
        <value>c:\users\Matthew\Documents\docs\mattg\wsll\2012 season</value>
      </setting>
      <setting name="EmailDocumentPath" serializeAs="String">
        <value>c:\users\Matthew\Documents\docs\mattg\wsll\2012 season</value>
      </setting>
      <setting name="EmailLogoPath" serializeAs="String">
        <value>c:\users\Matthew\Documents\docs\mattg\wsll\2012 season\wsllLogo.jpg</value>
      </setting>
    </EmailAppTester.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
